<a href="https://colab.research.google.com/github/Anandkumar17/FML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
from numpy.core.numeric import identity
import pandas as pd
mydata={'student id':[1,2,3,4,5],
        'student branch':["cse","mec","civil","Aiml","Ece"],
        'Rank':[8,5,485,89,246]
        }
myvar=pd.DataFrame(mydata)
print(myvar)

   student id student branch  Rank
0           1            cse     8
1           2            mec     5
2           3          civil   485
3           4           Aiml    89
4           5            Ece   246

In [ ]:
d1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'student_name': ['John', 'Emily', 'Kate', 'Joseph', 'Dennis']
}

d2 = {
    'subject_id': ['4', '5', '6', '1', '8'],
    'student_name': ['Brian', 'William', 'Lilian', 'Grace', 'Caleb']
}

df1 = pd.DataFrame(d1, columns=['subject_id', 'student_name'])
df2 = pd.DataFrame(d2, columns=['subject_id', 'student_name'])
pd.merge(df1,df2,on='subject_id')

  subject_id student_name_x student_name_y
0          1           John          Grace
1          4         Joseph          Brian
2          5         Dennis        William

In [ ]:
import pandas as pd
raw={'name':["a","b","c","d","e","f","g","h","i"],
     'year':[2019,2020,2018,2019,2020,2021,2020,2022,2020],
     'position':[1,2,3,4,5,6,7,8,9],
     'marks':[500,492,490,483,481,475,472,468,460]}
df3=pd.DataFrame(raw)
print(df3)
group=df3.groupby('year')
group.get_group(2020)

  name  year  position  marks
0    a  2019         1    500
1    b  2020         2    492
2    c  2018         3    490
3    d  2019         4    483
4    e  2020         5    481
5    f  2021         6    475
6    g  2020         7    472
7    h  2022         8    468
8    i  2020         9    460

  name  year  position  marks
1    b  2020         2    492
4    e  2020         5    481
6    g  2020         7    472
8    i  2020         9    460